body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to top right ,#bbdefb ,#fbe9e7,#fff9c4 );
    background-repeat: no-repeat;
    height: 100vh; 
    color: rgb(0, 0, 0);
} 
#km {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



